  <div class="chat" [style.height.%]="height">
    <div class="contact bar">
      <img [src]="'https://192.168.1.4:7279/api/file/GetUserProfile?user=' + selectedUser.userId + '&fileName=' + selectedUser.userProfile" alt="profile" class="pic" style="display: inline-block;">
      <h2 style="position: relative; bottom: 50px; margin-left:  80px;">{{ selectedUser.userName }}</h2>
    </div>
    <!-- <div class="messages" id="chat" *ngFor="let chat of chatDisplay">
      <div class="time">
        {{ chat.createdDate }}
      </div>
      <div class="message parker">
        {{ chat.chatMessage }}
        Hey, man! What's up, Mr Stark? 👋
      </div>
      <div class="message stark">
        Kid, where'd you come from?
      </div>
      <div class="message parker">
        Field trip!
      </div>
      <div class="message stark">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div>
    </div> -->
    <div #chatTemplate class="messages" id="chat" [scrollTop]="chatTemplate.scrollHeight">
      <div *ngFor="let chatDisplay of signalService.chatDisplay">
          <div class="time">
              {{ chatDisplay.chatDate | date: "medium" }}
          </div>
          <div *ngFor="let chat of chatDisplay.listOfChatMessage">
            <ng-template [ngIf]="chat.sentUserId === selectedUser.userId" [ngIfElse]="myMessages">
              <div class="message other">
                {{chat.chatMessage}}
              </div>
            </ng-template>
            <ng-template #myMessages>
              <div class="message mymessages">
                {{chat.chatMessage}}
              </div>
            </ng-template>
          </div>
      </div>
      <div *ngIf="chatMessageSendingList.length !== 0">
        <div *ngFor="let chatSending of chatMessageSendingList">
          <div class="time">
            {{ currentDate | date: "medium" }}
          </div>
          <div class="message mymessages">
            {{ chatSending.message }}
          </div>
        </div>
        <span class="sendingText">
          Sending
        </span>
      </div>

      <!-- <div class="message parker">
        Field trip!
      </div> -->
      <div class="message stark">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div>
    </div>
    <div class="input">
        <i class="fas fa-camera"></i><i (click)="openEmojimart()" class="far fa-laugh-beam"></i><input (keydown.enter)="sendMessage()" [(ngModel)]="value" placeholder="Type your message here!" type="text" /><i (click)="sendMessage()" class="pi pi-send"></i>
    </div>
</div>
<emoji-mart
  [style]="{width: '100%'}"
  class="emoji-mart"
  *ngIf="isEmojiPickerVisible"
  (emojiClick)="addEmoji($event)"
  title="Choose your emoji"
></emoji-mart>
