<p-panel header="Quản lý người dùng" [style]="{'margin-bottom': '15px'}">
    <p-splitButton label="Save" icon="pi pi-plus" (onClick)="openSaveModel()" [model]="items"></p-splitButton>
</p-panel>
<p-table [value]="datas" [(selection)]="selectedData" dataKey="code" [paginator]="true" [rows]="5" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="min-width:200px">Name</th>
            <th style="min-width:200px">Status</th>
            <th style="min-width:200px">Role</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
            
            <td>
                <div class="profile-card">
                    <img [src]="'https://192.168.1.14:7279/api/file/GetUserProfile?user=' + data.userId + '&fileName=' + data.userProfile" class="avatar" />
                    <div class="user-info">
                        <h1>{{data.userName}}</h1>
                        <p>{{data.email}}</p>
                    </div>
                </div>
            </td>
            <td><p-tag icon="pi pi-check" severity="success" value="Success" /></td>
            <td>{{data.role}}</td>
        </tr>
    </ng-template>
</p-table>
<app-create-user [visible]="isDialogVisible" (visibleChange)="isDialogVisibleChange($event)"></app-create-user>